@font-face {
    font-family: "Gulfs Display";
    src: url("Fonts/GulfsDisplay-Normal.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* BODY */
body {
    background-color: #884028;
    margin: 0;
    padding: 0;
    font-family: "Gulfs Display", sans-serif;
}

/* HEADER */
h1 {
    text-align: center;
    color: #fff6d3;
    margin-top: 40px;
    padding-bottom: 85px;
}

/* QUIZ CONTAINER */
.quizcontainer {
    background-color: #884028;
    border: solid #fff6d3;
    border-radius: 18px;
    border-width: 6px;
    border-top-width: 10px;
    border-bottom-width: 10px;
    margin: 40px auto;
    padding: 60px;
    box-sizing: border-box;
    max-width: 95%;
    max-height: 95%;
    height: 800px;
}

/* ROWS */
.row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    margin: 20px 0;
}

/* ANSWER BUTTONS */
button.answer {
    flex: 1;
    border: 3px solid #fff6d3;
    border-radius: 20px;
    background-color: #fff6d3;
    color: #884028;
    font-weight: bold;
    font-size: 35px;
    padding: 75px;
    box-sizing: border-box;
    text-align: center;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s ease;
    font-family: "Gulfs Display", sans-serif;

   
    appearance: none;
}


button.answer:hover {
    background-color: #e7ddb5;
    border-color: #e7ddb5;
    transform: scale(1.03);
}


button.answer:active {
    transform: scale(0.97);
    background-color: #d9c79c;
}


button.answer:focus {
    outline: 3px solid #fff6d3;
    outline-offset: 4px;
}

button.answer.selected {
    background-color: #d9c79c;  
    border-color: #fff6d3;
    transform: scale(0.98);
}

/* Styling for Result Page HTML */

.result-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px; 
  }
  
  .resultBtn {
    background-color: #f5e1b3;
    color: #884028;
    font-family: "Gulfs Display", sans-serif;
    font-size: 1.5rem;
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
  }

  .resultBtn:hover {
    background-color: #e7ddb5;
    border-color: #e7ddb5;
    transform: scale(1.03);
  }
  
  
  
  


